:root {
  --primary: #333;
  --primary-2: #23262D;
  --secondary: #000;
  --secondary-2: #87888A;
  --accent: #fafafa;
  --theme-color: #f39128;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../../img/c62246425d2c45d07ff2ad24ecd620cc.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/c62246425d2c45d07ff2ad24ecd620cc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
  color: var(--accent);
}

.other-body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../../img/Shadow-Fall-Background.svg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/Shadow-Fall-Background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  overflow-x: hidden;
  color: var(--accent);
}

a, a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
  background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#E93E51));
  background-image: linear-gradient(transparent, #E93E51);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#f39128));
  background-image: linear-gradient(transparent, #f39128);
}

.active-menu {
  color: #f39128 !important;
  padding-bottom: 3px;
  border-bottom: 4px solid #f39128 !important;
}

.theme-color {
  color: #f39128;
}

.display-4 {
  font-weight: 600;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header.sticky {
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.9);
}

.header .laptop-menu {
  position: relative;
  margin-left: 30%;
}

.header .laptop-menu li {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
}

.header .laptop-menu li a {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: var(--accent);
  font-weight: 700;
  font-size: 16px;
}

.header .laptop-menu li a::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 0;
  height: 2px;
  background: #f39128;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header .laptop-menu li a:hover::before {
  width: 100% !important;
}

.header .laptop-menu li a:hover {
  color: #f39128;
}

.header .laptop-menu li img {
  position: relative;
  width: 60px;
}

.header .mobile-menu img {
  width: 60px;
  margin: 15px 0;
}

.header .mobile-menu .fa {
  font-size: 35px !important;
  float: right;
  margin-top: 28px;
  margin-right: 20px;
  cursor: pointer;
}

.header .mobile-menu .sidenav select {
  display: inline-block;
  font-size: 30px;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  outline: none;
  color: var(--accent);
  background-color: #f39128;
  border: none;
  border-radius: 5px;
}

.header .mobile-menu .sidenav {
  height: 100%;
  width: 0;
  border-radius: 0 5px 5px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f39128;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.header .mobile-menu .sidenav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  color: var(--accent);
  background: #f39128;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .mobile-menu .sidenav option {
  color: #fafafa;
  background-color: #f39128;
}

.header .mobile-menu .sidenav select:hover,
.header .mobile-menu .sidenav a:hover {
  color: #f39128;
  background: #fafafa;
  font-size: 30px;
  height: 100%;
}

.header .mobile-menu .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
}

.header .mobile-menu .sidenav .closebtn:hover {
  color: #fff;
  background: none;
}

@media screen and (max-height: 450px) {
  .header .mobile-menu .sidenav {
    padding-top: 15px;
  }
  .header .mobile-menu .sidenav a {
    font-size: 18px;
  }
}

.section-1 {
  margin-top: 15%;
}

.section-1 h1 {
  margin-top: -8px;
  font-weight: 600;
}

.section-1 h2 {
  margin-top: -8px;
}

.section-1 .form-inline a {
  margin-left: 0px !important;
  margin-top: 25px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--accent);
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
  font-size: 17px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid var(--accent);
  text-decoration: none;
}

.section-1 .form-inline a:hover {
  color: var(--accent);
  background: #f39128;
  border: none;
  -webkit-box-shadow: 0 0 10px #f39128, 0 0 50px #f39128, 0 0 10px #f39128;
          box-shadow: 0 0 10px #f39128, 0 0 50px #f39128, 0 0 10px #f39128;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.section-1 .form-inline a span {
  position: absolute;
  display: block;
}

.section-1 .form-inline a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#f39128));
  background: linear-gradient(90deg, transparent, #f39128);
}

.section-1 .form-inline a:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-1 .form-inline a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#f39128));
  background: linear-gradient(270deg, transparent, #f39128);
}

.section-1 .form-inline a:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.section-1 .form-inline a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#f39128));
  background: linear-gradient(180deg, transparent, #f39128);
}

.section-1 .form-inline a:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.section-1 .form-inline a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#f39128));
  background: linear-gradient(360deg, transparent, #f39128);
}

.section-1 .form-inline a:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.section-1 .col-lg-5 img {
  width: 800px !important;
  margin-top: -160px;
  margin-left: -300px;
}

.s-section-1 {
  margin-top: 15%;
}

.s-section-1 h1 {
  font-size: 90px;
  font-family: 'Dancing Script', cursive;
}

.s-section-1 .breadcrumb {
  background: none !important;
}

.s-section-1 .breadcrumb li {
  font-size: 20px;
  color: #f39128;
}

.s-section-1 .breadcrumb li a {
  font-size: 20px;
  color: var(--accent);
}

.section-2 {
  background: var(--primary);
}

.section-2 .col-lg-6:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  background-color: var(--primary) !important;
}

.section-2 .col-lg-6:nth-child(3) .card {
  position: relative;
  width: 400px;
  height: 500px;
  background: var(--primary-2);
  border: 1px solid var(--primary);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  -webkit-box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.section-2 .col-lg-6:nth-child(3) .card:hover {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.section-2 .col-lg-6:nth-child(3) .card:hover .imgbox {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.section-2 .col-lg-6:nth-child(3) .card .imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #333;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
}

.section-2 .col-lg-6:nth-child(3) .card .imgbox img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.section-2 .col-lg-6:nth-child(3) .card .imgbox img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.section-2 .col-lg-6:nth-child(3) .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 .col-lg-6:nth-child(3) .details .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-2 .col-lg-6:nth-child(3) .details .content h2 {
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}

.section-2 .col-lg-6:nth-child(3) .details .content h2 span {
  color: #f39128;
  font-size: 1.3em;
}

.section-2 .col-lg-6:nth-child(3) .details .content .social-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.section-2 .col-lg-6:nth-child(3) .details .content .social-icon a {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: var(--accent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  font-size: 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section-2 .col-lg-6:nth-child(3) .details .content .social-icon a:hover {
  background: #f39128;
}

.section-2 .hero {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  -webkit-box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
}

.section-2 .container-1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-2 .container-1 .box {
  position: relative;
  width: 300;
  height: 350px;
  margin: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}

.section-2 .container-1 .box:hover .imgbox img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section-2 .container-1 .box:hover .details {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.section-2 .container-1 .box .imgbox {
  position: relative;
  overflow: hidden;
}

.section-2 .container-1 .box .imgbox img {
  max-width: 100%;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  margin-bottom: 20px;
}

.section-2 .container-1 .box .more {
  color: #fafafa;
  margin: 45% 50px;
}

.section-2 .container-1 .box .details {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.section-2 .container-1 .box .details .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fafafa;
}

.section-2 .container-1 .box .details .content h3 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #f39128;
}

.section-3 {
  background: var(--secondary);
}

.section-3 .col-md-12:nth-child(2) img {
  border-radius: 50px 0;
}

.section-3 .col-md-12:nth-child(3) img {
  border-radius: 0 50px;
}

.section-3 button {
  border: 1px solid #f39128;
  color: #f39128;
  border-radius: 5px;
}

.section-3 button:hover {
  background: #f39128;
  color: #fafafa;
}

.fact-area {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fact-area .fact-box .single-fact {
  text-align: center;
  margin-top: 45px;
  margin: 0;
  padding-top: 20px;
}

.fact-area .fact-box .single-fact i {
  color: #f39128;
  padding-top: 50px;
}

.section-4 {
  background: var(--primary);
}

.section-4 .progress-bar {
  width: 100%;
}

.section-4 .java-bar {
  width: 90%;
}

.section-4 .sass-bar {
  width: 60%;
}

.section-4 .c-section-4 .col-md-12 .fa {
  font-size: 50px !important;
}

.section-4 .fa {
  font-size: 50px !important;
  color: #f39128 !important;
}

.section-4 .social-icon i {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

.section-4 .social-icon i:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.section-4 .fa-facebook:hover {
  color: #3366cc !important;
  cursor: pointer;
}

.section-4 .fa-twitter:hover {
  color: deepskyblue !important;
  cursor: pointer;
}

.section-4 .fa-instagram:hover {
  color: deeppink !important;
  cursor: pointer;
}

.section-4 .fa-linkedin:hover {
  color: #3366cc !important;
  cursor: pointer;
}

.section-6 {
  background: var(--secondary);
}

.section-6 .pricing .table-2 {
  margin-top: -40px;
}

.section-6 .pricing .table-2 .Standared h3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#535cf1), to(#a147e4)) !important;
  background-image: linear-gradient(to right, #535cf1, #a147e4) !important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  color: var(--accent);
}

.section-6 .pricing .table-2 .Standared a {
  background-image: -webkit-gradient(linear, left top, right top, from(#a147e4), to(#535cf1)) !important;
  background-image: linear-gradient(to right, #a147e4, #535cf1) !important;
  color: var(--accent);
}

.section-6 .pricing .table-1 {
  padding-top: 50px;
}

.section-6 .pricing .table-1:hover {
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-6 .pricing .basic:hover .header-btn a {
  background-image: -webkit-gradient(linear, left top, right top, from(#a147e4), to(#535cf1)) !important;
  background-image: linear-gradient(to right, #a147e4, #535cf1) !important;
  color: var(--accent);
}

.section-6 .pricing .basic:hover h3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#a147e4), to(#535cf1)) !important;
  background-image: linear-gradient(to right, #a147e4, #535cf1) !important;
  color: var(--accent);
}

.section-6 .pricing .basic {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border: 2px solid #535cf1;
  border-radius: 20px;
}

.section-6 .pricing .basic h3 {
  font-weight: 700;
  padding: 40px 0;
  background: var(--accent);
  color: var(--secondary);
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.section-6 .pricing .basic ul li {
  border-top: 1px solid var(--accent);
  padding: 18px 0;
  border-bottom: px solid var(--accent);
}

.section-6 .pricing .basic .header-btn {
  margin: 50px auto;
  width: 170px;
}

.section-6 .pricing .basic .header-btn a {
  font-weight: normal;
  font-size: 18px;
  border-radius: 50px;
  padding: 10px 20px;
  outline: medium none;
  border: 1px solid #f39128;
  color: var(--accent);
}

.section-5 {
  background: var(--primary);
}

.section-5 button {
  border: 1px solid #f39128;
  color: #f39128;
  border-radius: 5px;
}

.section-5 button:hover {
  background: #f39128;
  color: #fafafa;
}

.section-5 .featuresarrow li {
  list-style: none !important;
  font-size: 16px;
  padding-left: 1.3em;
  margin-bottom: 10px;
}

.section-5 .featuresarrow li:before {
  content: "\f101";
  /* FontAwesome Unicode */
  color: #f39128;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

footer {
  background: #f39128;
  color: #000;
  font-weight: 500;
}

footer hr {
  color: #000;
  background: #000;
}

footer .social-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -60px;
  margin-top: 150px;
}

footer .social-menu ul li {
  margin-left: 20px;
}

footer .social-menu ul li .fa {
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}

footer .social-menu ul li a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f39128;
  text-align: center;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-box-shadow: 5px 5px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 3px 5px rgba(0, 0, 0, 0.5);
}

footer .social-menu ul li a:hover {
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer .social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}

footer .social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}

footer .social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}

footer .social-menu ul li:nth-child(4) a:hover {
  background-color: #0077b5;
}
/*# sourceMappingURL=style.css.map */